body {
  background: #9faa9d;
}
h1 {
  text-align: center;
  color: #4d83a5;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
}
.city {
  color: #013b00;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.container {
  background: #bd4e01;
  border-radius: 60%;

  width: 230px;
  height: 230px;
  padding: 0 auto;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
}
h2 {
  font-size: 90px;
  margin-top: 20px;
  font-family: "Geo", sans-serif;
  font-weight: 300;
  margin-bottom: -10px;
  color: #7c300b;
  text-align: center;
}
h3 {
  font-size: 30px;
  margin-top: 10px;
  font-family: "Geo", sans-serif;
  margin-bottom: 2px;
  color: #bd4e01;
  text-align: center;
}

.places {
  text-align: center;
  border-color: lightgray;
  border-radius: 30px;
  border-width: -2px;
  color: #bd4e01;
  background: #9faa9d;
  font-family: "Orbitron", sans-serif;
  margin-top: 13px;
  font-size: 20px;
  outline: none;
}
.select {
  text-align: center;
}
footer {
  color: #7c300b;
  text-align: center;
  margin-top: 120px;
  font-family: "Orbitron", sans-serif;
}
.link {
  color: #1c3c61;
}
.link:hover {
  color: #bd4e01;
}

.time {
  font-size: 38px;
  margin-top: -140px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600px;
  margin-bottom: 50px;
  color: #97b5c7;
  text-align: center;
}
.time small {
  font-size: 25px;
}
.linkL {
  color: #1c3c61;
}
.linkL:hover {
  color: #bd4e01;
}
.fa-linkedin {
  font-size: 25px;
  margin-left: 30px;
  margin-top: 20px;
}
.fa-github {
  font-size: 25px;
}
p {
  font-size: 16px;
  font-family: "Geo", sans-serif;
  text-align: center;
  color: #bd4e01;
}
